@import url('/src/styles/variables.scss');
.conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}
.filterConteiner {
    width: 100%;
    height: 100px;
    overflow-y: hidden ;

    position: relative;
    transition: all 300ms;
    .filtParamsConteiner {
        width: 100%;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        background-color:#616161;
        border-radius: 10px 10px 0px 0px;

        position: absolute;
        top: 0;
        transition: all 300ms;
    }
    .typeFilterContent {
        width: 50%;
        min-width: 390px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 50px;

    }
    .activeFiltersContent {
        width: 100%;
        height: 25px;
        background-color:#616161;
        display: flex;
        justify-content: center;
        align-items: end;
        cursor: pointer;
        border-radius: 0px 0px 10px 10px;

        position: absolute;
        top: 0;
        transition: all 300ms;
        .subContent {
            width: 300px;
            display: flex;
            justify-content: center;
            background-color: #616161;

            position: absolute;
            top: 93%;
            img {
                position: absolute;
                width: 50px;
            }
            .img1 {
                right: 100%;
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                
            }
            .img2 {
                left: 100%;
            }
        }
        p {
            width: 300px;
            font-size: 1rem;
            line-height: 24px;
            text-align: center;
            color: #edf2fc;
        }
    }
}
.typeContent {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .checkbox {
        width:15px;
        height: 15px;
        border: 1px solid var(--terc-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            width: 15px;
        }
    }
    .type {
        width: 100px;
        border-radius: 10px;
        cursor: pointer;
    }
    
}
h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #edf2fc;
}

.aspectsFilterContent {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-width: 490px;

}
.filt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .selectContent {
        width: 400px;
        padding: 10px 20px;
        
        background-color: var(--back-color);
        color: var(--text-color);
        font-size: 1.2rem;

        position: relative;
        z-index: 5;
        cursor: pointer;
        li {
            display: flex;
            align-items: center;
            list-style: none;
        }
        
    }
}
.optionsContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
    height: 300px;
    padding: 10px 20px;

    overflow-y: scroll;
    background-color: gray;

    position: absolute;
    top: 100%;
    left: 0;
    
    
}
.limitsNumberContent {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    input {
        width: 80px;
        height: 40px;
        font-size: 1rem;
    }
}
.option {
    height: 25px;
    padding: 15px;
    font-size: 1.1rem;
    color: #edf2fc;
    cursor: pointer;
    &:hover {
        background-color: var(--back-color);
        color: rgb(11, 83, 11);
    }
}
.optionSelected {
    display: flex;
    justify-content: space-between;
    img {
        rotate: 90deg;
        transition: all 300ms ease-in-out;
    }
}
.weightConteiner, .heightConteiner {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    .weightContent, .heightContent {
        width: 90px;
        height: 80px;
        border-radius: 20px;
        background-color: #edf2fc;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 40px;
        }
    }
}
.weightContent {
    cursor: pointer;
    .weightImg {
        background-repeat: no-repeat;
        background-position: center center;
    }


}
.heightContent {
    cursor: pointer;
    .heightImg {
        width: 50px;
        height: 50px;
    }
}
.sendfiltsContent {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    max-width: 400px;
    button {
        height: 50px;
        font-size: 1.3rem;
        padding: 0px 10px;
        font-weight: 500;
        background-color: #121212;
    }
}


//19 59 643
@media (max-width: 1250px) {
    .limitsNumberContent {
        h2 {
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 1180px) {
    .filterConteiner{
        .filtParamsConteiner {
            padding: 20px 0px 20px 0px;
            overflow-y: scroll;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
        .typeFilterContent {
            width: 100%;
            display: flex;
            flex-direction: row;
    
            gap: 30px;
            .typeContent {
                width: 200px;
            }
        }
        .aspectsFilterContent {
            width: 100%;
            align-items: center;
            gap: 30px;
            div {
                gap: 30px;
            }
        }

    }
}

@media (max-width: 611px) {
    .filterConteiner{
        .typeFilterContent {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
    
            gap: 30px;
            .typeContent {
                width: 130px;
            }
        }
        .aspectsFilterContent {
            width: 100%;
            align-items: center;
            gap: 30px;
            min-width: 0px;
            div {
                gap: 30px;
                width: 90%;
            }
        }

        .activeFiltersContent {
            .subContent {
                width: 60%;
            }

        }


        
    }
    .limitsNumberContent {
        flex-direction: column;
        gap: 10px;
    } 
}
@media (max-width: 462px) {
    .filterConteiner {
        .filtParamsConteiner{
            .typeFilterContent {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 0;
                gap: 30px;
                .typeContent {
                    width: 90%;
                }
            }

        }
    }
}