@import url('/src/styles/variables.scss');
.conteiner {
    background: var(--img-bg);
    background-size: 50px 50px;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 50px;
    align-items: center;
    
    padding: 20px;
    border: 2px solid var(--terc-color);
    border-radius: 15px;

}
.podiumConteiner {
    display: flex;
    align-items:center;
}
.podiumContent {
    width: 400px;
    height: 400px;
    background: url('/src/assets/images/podiumOn.jpg') no-repeat center center;
    border-radius: 10px ;
    position: relative;
}
.pokeImg {
    width: 215px;
    height: 215px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}
.infosContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    .btnContent {
        display: flex;
        gap: 10px;
        button {
            min-width: 100px;

        }
    }
    p {
        width: 100%;
    }
}
.showPokeBtn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    background-color: var(--true-red);
    &:hover {
        background-color: #880914;
    }
}
.refreshBtn {
    position: absolute;
    right: 0;
    
}
.loading {
    .refreshIcon {
        transition: all 300ms;
        rotate: 360deg;
        
    }
}