@import url('/src/styles/variables.scss');
.conteiner {
    background: var(--img-bg);
    background-size: 50px 50px;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 50px;
    align-items: center;
    
    padding: 20px;
    border: 2px solid var(--terc-color);
    border-radius: 15px;

}
.podiumConteiner {
    display: flex;
    align-items:center;
}
.podiumContent {
    width: 400px;
    height: 400px;
    border-radius: 10px ;
    overflow: hidden;
    position: relative;
    background:url('../../assets/images/podium.png')
}
.lightsPodium {
    width: 400px;
    height: 400px;
    transition:all 600ms;
    position: absolute;
    left: 0;
    top:-100%;
    background:url('../../assets/images/lightsPodium.png')
}
.on {
    transform: translateY(100%);
}
.off {
    transform: translateY(-100%);
}
.pokeImg {
    width: 215px;
    height: 215px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    z-index: 3;
}
.infosContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    .btnContent {
        display: flex;
        gap: 10px;
        button {
            min-width: 100px;

        }
    }
    p {
        width: 100%;
    }
}
.showPokeBtn {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    background-color: var(--true-red);
    z-index: 999;
    &:hover {
        background-color: #880914;
    }
}
.refreshBtn {
    position: absolute;
    right: 0;
    z-index: 999;
    
}
.loading {
    .refreshIcon {
        transition: all 300ms;
        rotate: 360deg;
        
    }
}
@media (max-width:900px) {
    .conteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }
    .infosContent {
        align-items: center;
        
    }
}
@media (max-width: 490px) {
    .podiumContent {
        background-size: cover;
        width: 300px;
        height: 300px;
    }
    .lightsPodium {
        background-size: cover;
        width: 300px;
        height: 300px;
    }
    .pokeImg {
        left: 50%;
        top: 35%;
        transform: translate(-50%, -30%);
        z-index: 3;
    }
    h2 {
        font-size: 1.2rem;
    }p {
        font-size: .9rem;
    }
}