@import url('/src/styles/variables.scss');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body, #app, #body {
width: 100%;
height: 100%;
font-family: "Inter", sans-serif;
min-height: 100vh;
transition:
    color 0.5s,
    background-color 0.5s;
line-height: 1.6;
text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#body {
    background: var(--img-bg);
    
}
#conteiner {
    max-width: 1540px;
    margin: auto;
    padding: 0 100px;
    background-color: var(--back-color);
}
.dark {
    --back-color: #121212;
    --text-color: #edf2fc;
    --terc-color: #b4b4b4;
    --icon-color: invert(0%);
    --img-bg: url('../assets/images/dark-bg.png');
}

p {
    font-size: 1rem;
    color: var(--text-color);
}
h1 {
    font-size: 2rem;
    color: var(--text-color);
}
h2 {
    font-size: 1.7rem;
    color: var(--text-color);
}
h3 {
    font-size: 1.25rem;
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: var(--terc-color);
    font-size: 1rem;
}
button {
    background-color: var(--true-blue);
    padding: 3px 10px;
    font-size: 1rem;
    color: #edf2fc;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: #0c3b79;
    }
}
input {
    width: 300px;
    height: 25px;
    background-color: var(--back-color);
    color: var(--text-color);
    border: 1px solid var(--terc-color);
    border-radius: 10px;
    padding: 3px 5px;
    &::placeholder {
        color: var(--terc-color);
    }
}
.icon {
    filter: var(--icon-color);
    width: 40px;
}

.typeContent {
    width: 80px;
    font-size: 1rem;
    color: rgb(252, 240, 237);
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
}
.grass {
    background-color: rgb(25, 131, 25);
}
.poison {
    background-color: #9240a7;
}
.fire {
    background-color: rgb(226, 89, 25);
}
.water {
    background-color: rgb(44, 120, 206);
}
.bug {
    background-color: rgb(14, 85, 14);
}
.flying {
    background: linear-gradient(rgb(60, 199, 209), #a1a1a1);
}
.ground {
    background-color: rgb(88, 32, 5);
}
.fighting {
    background: linear-gradient(rgb(3, 4, 85), #010103,rgb(3, 4, 85));
}
.electric {
    background-color: rgb(209, 145, 6);
}
.psychic {
    background: linear-gradient(rgb(20, 20, 20), #727171,rgb(20, 20, 20));
}
.dragon {
    background-color: rgb(129, 30, 0);
}
.dark {
    background-color: rgb(34, 31, 30);
}
.ice {
    background-color: rgb(6, 165, 165);
}
.fairy {
    background-color: rgb(199, 10, 199);
}
.ghost {
    background-color: rgb(109, 148, 155);
}
.normal {
    background-color: rgb(15, 13, 129);
}
.rock {
    background: linear-gradient(rgb(78, 28, 9), #240d0d,rgb(20, 20, 20));
}
.steel {
    background: linear-gradient(rgb(63, 56, 56), #121416,rgb(58, 52, 52));
}
@media (max-width: 1100px) {
    #conteiner {
        padding: 0 30px;
    }
}

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--back-color);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 40px;
  }
  