.conteiner {
    background: url('/src/assets/images/backpokes.jpeg') no-repeat fixed;
    background-size: 100% 1250px;
    width: 100%;
}
.shadowBoxX {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, var(--back-color), rgba(255, 0, 0, 0) 30%, var(--back-color));
}
.shadowBoxY {
    background: linear-gradient(to bottom, var(--back-color), rgba(255, 0, 0, 0)30%, var(--back-color));
    width: 100%;
    min-height: 100vh;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.gridcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px 40px;
    width: 100%;
}