@import url('/src/styles/variables.scss');
.conteiner {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    .content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }   
}
.pokeLogo {
    width: 150px;
}
.searchContent {
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.linksConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.pokeballContent {
    position: absolute;
    top: -25px;
    left: 10px;
    transition: all 0.5s;
}
.slideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    .slideBar{
        width: 110%;
        height: 5px;
        margin-top: 5px;
        border-radius: 5px;
        background-color: var(--terc-color);
        position: relative;
        .redContent {
            width: 80px;
            height: 5px;
            border-radius: 5px;
            background-color: var(--true-red);
            transition: all 0.5s;
            position: absolute;
        }
    }
}

.linksContent {
    display: flex;
    align-items: center;
    gap: 50px;
    .linksLi {
        color: var(--text-color);
        font-weight: 500;
    }
}
